a{
  font-size: 35px;
}
/*
a:link{
  color: red;
}
a:visited{

  color: lightblue;
}
a:hover{
  color: yellow;
}
a:active{
  color: green;
}*/

 a:link{
   background: hotpink;
   color: white;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
 }
 a:visited{
   background: yellow;
   color: white;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
 }
 a:hover{
   background-color: red;
 }
 a:active{
   background-color: blue;
 }
